@model CourseWork.Models.Category

@{
    ViewData["PageTitle"] = Model.CategoryId == 0 ? "Create a new category" : "Edit category";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form asp-action="AddCategory" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CategoryId" />
                <input type="hidden" asp-for="GroupId" value="@Model.GroupId" />
                <div class="btn-group mb-3 custom-btn-group">
                    <input class="btn-check" type="radio" id="radioleft" asp-for="Type" value="Expense" checked="@(Model.Type == "Expense")" />
                    <label class="btn btn-outline-secondary" for="radioleft">Expense</label>

                    <input class="btn-check" type="radio" id="radiomiddle" asp-for="Type" value="Income" checked="@(Model.Type == "Income")" />
                    <label class="btn btn-outline-secondary" for="radiomiddle">Income</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="title" asp-for="Title" class="form-control custom-input" style="background-color: #12161d;" placeholder="Название" />
                    <span asp-validation-for="Title" class="text-danger fs-6"></span>
                    <label for="title" style="color: #6c757d;">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="icon" asp-for="Icon" class="form-control custom-input" style="background-color: #12161d;" placeholder="Иконка" />
                    <span asp-validation-for="Icon" class="text-danger"></span>
                    <label for="icon" style="color: #6c757d;">Icon</label>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
