@model CourseWork.Models.Transaction

@{
    ViewData["PageTitle"] = Model.TransactionId == 0 ? "Create a new transacrion" : "Edit transacrion";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form asp-action="AddTransaction" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TransactionId" />
                <input type="hidden" asp-for="GroupId" value="@Model.GroupId" />
                <div class="form-floating mb-3">
                    <input type="date" id="date" asp-for="Date" class="form-control custom-input" style="background-color: #12161d;" placeholder="Date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                    <label for="date" style="color: #6c757d;">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <select id="ddlCategory" asp-for="CategoryId" class="form-select" style="background-color: #12161d; color: white; box-shadow: none;border:none;" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "TitleWithIcon"))">
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger fs-6"></span>
                    <label for="ddlCategory">Category</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" id="amount" asp-for="Amount" class="form-control custom-input" style="background-color: #12161d;" min="0" placeholder="Amount" />
                    <span asp-validation-for="Amount" class="text-danger fs-6"></span>
                    <label for="amount" style="color: #6c757d;">Amount</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea id="note" asp-for="Note" class="form-control custom-input" style="background-color: #12161d;" placeholder="Note" rows="3"></textarea>
                    <span asp-validation-for="Note" class="text-danger"></span>
                    <label for="note" style="color: #6c757d;">Note</label>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>