@model CourseWork.Models.Group

@{
    ViewData["Title"] = "Моя группа";
}

<h1 class="mb-4">Группы</h1>

@if (Model != null)
{
    <div class="card text-bg-dark mb-3 custom-card">
        <h4 class="card-header">@Html.DisplayFor(model => model.GroupName)</h4>
        <div class="card-body">
            <a asp-action="AddUserToGroup" asp-route-id="@Model.GroupId" class="btn btn-success">Details</a> 
        </div>
    </div>
}
else
{
    <p>Вы не состоите в группе.</p>
    <p>
        <a asp-action="Create" class="btn btn-success">Создать группу</a>
    </p>
}

<style>
    .custom-card {
        color: #fff;
        background-color: #222b33;
    }
</style>
