@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-success" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="btn btn-success" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
</div>
